/* Hides main AI Overview content immediately, but brittle to Google changing classes */
.YzCcne {
  display: none;
}
/* "People also ask" items containing AI Overviews */
div[data-initq] div[jsname]:has(> div[id] > div[data-q] .YzCcne) {
  display: none;
}

/* Structural fallbacks top of page AI Overviews */
/* Pre-rendered AI Overview, e.g. https://www.google.com/search?q=encanto+2+plot */
#rcnt > style:first-child + div > div[data-hveid] > div[data-hveid] > div[id] > div:has(a[href^="https://support.google.com/websearch?p=ai_overviews"], path[d^="M235.5 471C235.5 438.423 229.22 407.807"]),
/* No wrapper div[id] variant, e.g. https://www.google.com/search?q=plagiarism */
#rcnt > style:first-child + div > div[data-hveid] > div[data-hveid] > div[class]:has(a[href^="https://support.google.com/websearch?p=ai_overviews"], path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
  display: none;
}

/* Structural fallbacks for dynamic AI Overview, which displays Searching…, Generating… */
/* Wrapper div[id] variant, e.g. https://www.google.com/search?q=how+many+pickles */
#rcnt > style:first-child + div > div[data-hveid] > div[data-hveid] > div[id] > div:has([data-async-type="folsrch"]),
/* No wrapper div[id] variant */
#rcnt > style:first-child + div > div[data-hveid] > div[data-hveid] > div[class]:has([data-async-type="folsrch"]) {
  display: none;
}

/* Structural fallback for search result section AI Overview */
/* e.g. https://www.google.ca/search?q=hide+google+ai+overviews while signed out */
#rso div.ULSxyf:has(path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
  display: none;
}

/* Product comparison AI Overview e.g. https://www.google.com/search?q=compare+xbox+playstation (may require U.S. proxy) */
#kp-wp-tab-overview > div:first-child:has(a[href^="https://support.google.com/websearch?p=ai_overviews"], path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
  display: none;
}

/* Mobile site */
@media (hover: none) {
  /* First item in regular search results, e.g. https://www.google.com/search?q=encanto+2+plot */
  h1 + div[data-async-context] > div:first-child:not(:only-child):has(path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
    display: none;
  }
  /* Dynamic AI Overview, which displays Searching…, e.g. https://www.google.com/search?q=plagiarism */
  h1 + div[data-async-context] > div:first-child:not(:only-child):has([data-async-type="folsrch"]) {
    display: none;
  }
  /* Product comparison AI Overview e.g. https://www.google.com/search?q=compare+xbox+playstation (may require U.S. proxy) */
  #kp-wp-tab-overview > div:first-child:has(path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
    display: none;
  }
  /* As a search result section, e.g. I got this refreshing https://www.google.ca/search?q=hide+google+ai+overviews while signed out */
  #rso > div.MjjYud:has(path[d^="M235.5 471C235.5 438.423 229.22 407.807"]) {
    display: none;
  }
}